<!-- Required permissions for full-screen incoming call notification + FCM -->
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.VIBRATE"/>
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
<uses-permission android:name="android.permission.RECORD_AUDIO"/>
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
<uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL"/>
<uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
<uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE"/>

<!-- flutter_callkit_incoming services + receivers -->
<service
    android:name="com.hiennv.flutter_callkit_incoming.CallkitIncomingBroadcastReceiver$CallkitIncomingService"
    android:enabled="true"
    android:exported="false"/>
<receiver
    android:name="com.hiennv.flutter_callkit_incoming.CallkitIncomingBroadcastReceiver"
    android:enabled="true"
    android:exported="true"/>
